
{{!-- <div class="contenedor-popup" style="background-color: rgba(0, 0, 0, 0.772); height: 100vh; width: 100%; display: flex; " > 
  <div class="terminos-y-condiciones-mobile" style=" display: flex; justify-content: center; align-items: center; width: 100%; " >
    <div class="tyc-div" style=" background-color: rgb(255, 255, 255); border: 8px solid rgb(31, 130, 197); display: flex; justify-content: center; align-items: center; padding: 30px 0; text-align: center; flex-direction: column; width: 400px; height: 500px; " > 
      <img src="https://iili.io/HN4pKTG.png" alt="">
      <label for="acepto-terminos" class="tyc-texto-mobile" style="font-size: 19px; margin-bottom: 75px; margin-top: 75px;     font-family: Arial, Helvetica, sans-serif;" >Tus datos personales se utilizarán para procesar tu pedido, mejorar tu experiencia en esta web y otros propositos descritos en nuestras <a href="https://www.superstore.cl/p/privacidad" style="font-weight: bold !important; color: rgb(31, 130, 197)" >políticas de privacidad</a></label > 
      <label for="acepto-terminos" class="tyc-texto" style="font-size: 16px;     font-family: Arial, Helvetica, sans-serif;" ><input type="checkbox" id="popupcheckbox" name="terminos-y-condiciones" />He leído y estoy de acuerdo con los <a href="https://filetools13.pdf24.org/client.php?mode=inline&file=joinPdf_28ecaa6256c00def264c73132f46b41a_9067909012565444226.pdf&action=getFile" class="tyc-texto-a" style="font-weight: bold !important; color: rgb(31, 130, 197)" >términos y condiciones</a > de la web</label > 
    </div> 
  </div> 
</div>'; --}}

<section class="marcas-section">
  {{!-- <h5>ENCONTRÁ TUS MARCAS PREFERIDAS</h5> --}}
  <div class="marcas-div">
    <a href="https://raismanchile.mercadoshops.cl/stihl" class="marcas-img-div marcas-img1"><img class="marcas-img" src="https://iili.io/Hh7GV6u.png" alt=""></a>
    <a href="https://raismanchile.mercadoshops.cl/jonson" class="marcas-img-div marcas-img2"><img class="marcas-img" src="https://iili.io/Hh7G1Z7.png" alt=""></a>
    <a href="https://raismanchile.mercadoshops.cl/raisman" class="marcas-img-div marcas-img3"><img class="marcas-img" src="https://iili.io/Hh7GGn9.png" alt=""></a>
    <a href="https://raismanchile.mercadoshops.cl/husqvarna" class="marcas-img-div marcas-img4"><img class="marcas-img" src="https://iili.io/Hh7G0jS.png" alt=""></a>
    <a href="https://raismanchile.mercadoshops.cl/Briggs%20&%20Stratton" class="marcas-img-div marcas-img5"><img class="marcas-img" src="https://iili.io/Hh7GMGe.png" alt=""></a>
  </div>
</section>

{{!-- <div class="destacadas-title-div">
  <h5 class="destacadas-title">CATEGORÍAS</h5><h5 class="destacadas-title color-blue">DESTACADAS</h5>
</div>
<section class="destacadas-section">
  <a class="destacadas-img-div1">
    <p class="destacadas-img-title invisible">Herramientas</p>
  </a>
  <a class="destacadas-img-div2">
    <p class="destacadas-img-title invisible">Construcción</p>
  </a>
  <a class="destacadas-img-div3">
    <p class="destacadas-img-title invisible">Hogar, Muebles y Jardín</p>
  </a>
</section> --}}

<section class="pagos-section">
  <div class="pagos-div">
    <img class="pagos-img" src="https://iili.io/Hh6qLuV.png" alt="">
    <h6>Elegí los productos que vas a comprar</h6>
    <p>Si querés mas de uno sumalo a tu carrito</p>
  </div>
  <div class="pagos-div">
    <img class="pagos-img" src="https://iili.io/Hh6qQwB.png" alt="">
    <h6>Pagá con el medio de pago que quieras</h6>
    <p>Comprá con seguridad, usamos la tecnología de Mercado Pago</p>
  </div>
  <div class="pagos-div">
    <img class="pagos-img" src="https://iili.io/Hh6qiyQ.png" alt="">
    <h6>Recibí el producto que esperás</h6>
    <p>Elegí la forma de entrega que prefieras ¡y listo! Aseguramos tu entrega con Mercado Envíos</p>
  </div>
</section>

<section class="videos-section">
  <div class="videos-left">
    <button class="boton-flecha"><span><</span></button>
    <div class="videos-div">
      <iframe class="video active" width="560" height="315" src="https://www.youtube.com/embed/WEnWhf3ZMd8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      <iframe class="video inactive" width="560" height="315" src="https://www.youtube.com/embed/X6NH9KuiuVA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      <iframe class="video inactive" width="560" height="315" src="https://www.youtube.com/embed/9ZEeXLqmUXQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
    <button class="boton-flecha"><span>></span></button>
  </div>
  <div>
  </div>
</section>






{{#if subscriptionFooter.active}}
  {{> tools/views/partials/suscription}}
{{/if}}
<footer class="nav-tools-footer blue">
  <section class="nav-tools-footer__bound">
    <section class="nav-tools-footer__top">
      <div class="nav-tools-footer__info header--custom-text">
        <div class="nav-tools-footer__logo">
            <img class="logo-footer" src="{{logo}}" alt="{{name}}">
        </div>
        <img class="metodos-img" src="https://iili.io/HwCmCRp.png" alt="">
        {{!-- <div class="nav-tools-footer__contact">
          <div data-editable="contact">
            {{#if showContact}}
              {{#if showPhone}}
                <a class="header--custom-text">{{phone.formatted}}</a>
              {{/if}}

              {{#if showEmail}}
                <a class="header--custom-text" href="mailto:{{email}}">{{email}}</a>
              {{/if}}

              {{#if address}}
                {{#with address}}
                  <p>
                    <span itemprop="streetAddress" class="header--custom-text">{{address}}</span>
                    <span itemprop="addressLocality" class="header--custom-text">{{city}}</span>
                    <span itemprop="addressRegion" class="header--custom-text">{{state}}</span>
                  </p>
                {{/with}}
              {{/if}}
            {{/if}}
          </div>
          <div class="nav-tools-footer__social-media" data-editable="socialNetworks">
              {{#if showSocialNetworks}}
              {{#each socialNetworks}}
                <a href="{{url}}" target="_blank" class="header--custom-svg" rel="noopener noreferrer nofollow">
                  {{> (concat 'icons/social_networks/' (lookup . 'name'))}}
                </a>
              {{/each}}
            {{/if}}
          </div>
        </div> --}}
      </div>
      <div class="div-hr">
        <hr class="hr invisible">
      </div>
      <div class="footer-categorias-div">
        <a class="footer-categoria" href="/listado/herramientas/">Herramientas</a>
        <a class="footer-categoria" href="/listado/construccion/">Construcción</a>
      </div>
      <div class="footer-categorias-div">
        <a class="footer-categoria" href="/_Discount_5-100">Ofertas</a>
        <a class="footer-categoria" href="/p/como-comprar">¿Cómo Comprar?</a>
      </div>
      <div class="div-hr">
        <hr class="hr invisible">
      </div>
      <div class="footer-contacto-div">
        <div class="icon-div">
          <a href="https://www.facebook.com/RAISMANSPA"><img class="icon-yt" src="https://iili.io/HwCk1oP.png" alt=""></a>
          <a href="https://www.instagram.com/raismanspa/"><img class="icon-yt" src="https://iili.io/HwCkEV1.png " alt=""></a>
          <a href="https://www.youtube.com/@raismanchile5952"><img class="icon-yt" src="https://iili.io/HwCVPR9.png" alt=""></a>          
        </div>
        <a href="tel:(2)29185781" class="footer-categoria">011-60291319<img class="footer-icon" src="https://iili.io/HwCV6H7.png" alt=""></a>
        <a href="mailto:raismanchile@gmail.com" class="footer-categoria">raismanchile@gmail.com<img class="footer-icon" src="https://iili.io/HwCVUKl.png" alt=""></a>
        <p class="footer-categoria">Jose Alcande Delano s/n Barnechea RM (Metropolitana)<img class="footer-icon" src="https://iili.io/HwCVrSS.png" alt=""></p>
        {{!-- <p class="footer-categoria">10:30 a 17:00hs lun a vie y 11:00 a 14:00 sab<img class="footer-icon" src="https://iili.io/HwCVgl2.png" alt=""></p> --}}
      </div>
      {{!-- <div class="nav-tools-footer__categories header--custom-border">
        {{#each menu}}
          <span class="nav-tools-footer__category">
            <a class="header--custom-text" href="{{url}}" data-id="{{id}}">
              {{name}}
            </a>
          </span>
        {{/each}}
      </div>
      <div class="nav-tools-footer__pages header--custom-text header--custom-border">
        <span class="nav-tools-footer__page">
          <a href="{{linkToHowBuy.href}}" class="header--custom-text">{{linkToHowBuy.label}}</a>
        </span>
      </div>
      <div class="nav-tools-footer__social-media" data-editable="socialNetworks">
        {{#if showSocialNetworks}}
          {{#each socialNetworks}}
            <a href="{{url}}" target="_blank" class="header--custom-svg" rel="noopener noreferrer nofollow">
              {{> (concat 'icons/social_networks/' (lookup . 'name'))}}
            </a>
          {{/each}}
        {{/if}}
      </div> --}}
    </section>
    <section class="nav-tools-footer__bottom header--custom-border header--custom-text">
      <div>
        <div class="nav-footer-about">
          <a href="{{{linkToMShopsLandingPage}}}" target="_blank" class="header--custom-text">{{i18n.powered_by}}</a>
          <p class="header--custom-text">Developed by GALARRETA®</p>
          {{#if linkToLegalNotices}}
            <a href="{{linkToLegalNotices.href}}" class="header--custom-text">{{linkToLegalNotices.label}}</a>
          {{/if}}
          {{#if linkToLGPD}}
            <a href="{{linkToLGPD.href}}" class="header--custom-text">{{linkToLGPD.label}}</a>
          {{/if}}
        </div>

        {{#if showBusinessData}}
          {{#with fiscalData}}
            <div class="nav-footer-fiscal-data">
              <p class="nav-footer-fiscal-data__name">{{legal_name}}</p>
              <p class="nav-footer-fiscal-data__id">{{legal_doc}}</p>
            </div>
          {{/with}}
        {{/if}}
      </div>
      {{#if showQrData}}
        {{#with fiscalData}}
          <a href={{qr_link}} target="_F960AFIPInfo">
            <img class="nav-footer-afip-img" src={{qr_img}} alt="Data fiscal" />
          </a>
        {{/with}}
      {{/if}}
    </section>
  </section>
</footer>
