
{{!-- <div class="contenedor-popup" style="background-color: rgba(0, 0, 0, 0.772); height: 100vh; width: 100%; display: flex; " > 
  <div class="terminos-y-condiciones-mobile" style=" display: flex; justify-content: center; align-items: center; width: 100%; " >
    <div class="tyc-div" style=" background-color: rgb(255, 255, 255); border: 8px solid rgb(31, 130, 197); display: flex; justify-content: center; align-items: center; padding: 30px 0; text-align: center; flex-direction: column; width: 400px; height: 500px; " > 
      <img src="https://iili.io/HN4pKTG.png" alt="">
      <label for="acepto-terminos" class="tyc-texto-mobile" style="font-size: 19px; margin-bottom: 75px; margin-top: 75px;     font-family: Arial, Helvetica, sans-serif;" >Tus datos personales se utilizarán para procesar tu pedido, mejorar tu experiencia en esta web y otros propositos descritos en nuestras <a href="https://www.superstore.cl/p/privacidad" style="font-weight: bold !important; color: rgb(31, 130, 197)" >políticas de privacidad</a></label > 
      <label for="acepto-terminos" class="tyc-texto" style="font-size: 16px;     font-family: Arial, Helvetica, sans-serif;" ><input type="checkbox" id="popupcheckbox" name="terminos-y-condiciones" />He leído y estoy de acuerdo con los <a href="https://filetools13.pdf24.org/client.php?mode=inline&file=joinPdf_28ecaa6256c00def264c73132f46b41a_9067909012565444226.pdf&action=getFile" class="tyc-texto-a" style="font-weight: bold !important; color: rgb(31, 130, 197)" >términos y condiciones</a > de la web</label > 
    </div> 
  </div> 
</div>'; --}}

{{!-- <section class="marcas-section">
  <h5>ENCONTRÁ TUS MARCAS PREFERIDAS</h5>
  <div class="marcas-div">
    <a href="https://raismanchile.mercadoshops.cl/stihl" class="marcas-img-div marcas-img1"><img class="marcas-img" src="https://iili.io/Hh7GV6u.png" alt=""></a>
    <a href="https://raismanchile.mercadoshops.cl/jonson" class="marcas-img-div marcas-img2"><img class="marcas-img" src="https://iili.io/Hh7G1Z7.png" alt=""></a>
    <a href="https://raismanchile.mercadoshops.cl/raisman" class="marcas-img-div marcas-img3"><img class="marcas-img" src="https://iili.io/Hh7GGn9.png" alt=""></a>
    <a href="https://raismanchile.mercadoshops.cl/husqvarna" class="marcas-img-div marcas-img4"><img class="marcas-img" src="https://iili.io/Hh7G0jS.png" alt=""></a>
    <a href="https://raismanchile.mercadoshops.cl/Briggs%20&%20Stratton" class="marcas-img-div marcas-img5"><img class="marcas-img" src="https://iili.io/Hh7GMGe.png" alt=""></a>
  </div>
</section> --}}

<div class="categorias-container">
    <a href="/_BRAND_10783568#applied_filter_id%3DBRAND%26applied_filter_name%3DMarca%26applied_filter_order%3D7%26applied_value_id%3D10783568%26applied_value_name%3DJonson%26applied_value_order%3D4%26applied_value_results%3D10%26is_custom%3Dfalse">
      <div class="categoria-jonson"></div>
    </a>
    <a href="/_BRAND_6864621#applied_filter_id%3DBRAND%26applied_filter_name%3DMarca%26applied_filter_order%3D7%26applied_value_id%3D6864621%26applied_value_name%3DStihl%26applied_value_order%3D9%26applied_value_results%3D209%26is_custom%3Dfalse">
      <div class="categoria-stihl"></div>
    </a>
    <a href="/_BRAND_151888#applied_filter_id%3DBRAND%26applied_filter_name%3DMarca%26applied_filter_order%3D7%26applied_value_id%3D151888%26applied_value_name%3DHusqvarna%26applied_value_order%3D3%26applied_value_results%3D100%26is_custom%3Dfalse">
      <div class="categoria-husqvarna"></div>
    </a>
    <a href="/_BRAND_2730616#applied_filter_id%3DBRAND%26applied_filter_name%3DMarca%26applied_filter_order%3D7%26applied_value_id%3D2730616%26applied_value_name%3DRaisman%26applied_value_order%3D6%26applied_value_results%3D152%26is_custom%3Dfalse">
      <div class="categoria-raisman"></div>
    </a>
    <a href="/honda">
      <div class="categoria-briggs-stratton"></div>
    </a>
</div>

{{!-- <div class="destacadas-title-div">
  <h5 class="destacadas-title">CATEGORÍAS</h5><h5 class="destacadas-title color-blue">DESTACADAS</h5>
</div>
<section class="destacadas-section">
  <a class="destacadas-img-div1">
    <p class="destacadas-img-title invisible">Herramientas</p>
  </a>
  <a class="destacadas-img-div2">
    <p class="destacadas-img-title invisible">Construcción</p>
  </a>
  <a class="destacadas-img-div3">
    <p class="destacadas-img-title invisible">Hogar, Muebles y Jardín</p>
  </a>
</section> --}}

<section class="pagos-section">
  <div class="pagos-div">
    <img class="pagos-img" src="https://iili.io/Hh6qLuV.png" alt="">
    <h6>Elige los productos que vas a comprar</h6>
    <p>Si quieres mas de uno súmalo a tu carrito</p>
  </div>
  <div class="pagos-div">
    <img class="pagos-img" src="https://iili.io/Hh6qQwB.png" alt="">
    <h6>Paga con el medio de pago que quieras</h6>
    <p>Compra con seguridad, usamos la tecnología de Mercado Pago</p>
  </div>
  <div class="pagos-div">
    <img class="pagos-img" src="https://iili.io/Hh6qiyQ.png" alt="">
    <h6>Recibe el producto que esperas</h6>
    <p>Elige la forma de entrega que prefieras ¡y listo! Aseguramos tu entrega con Mercado Envíos</p>
  </div>
</section>

{{!-- <section class="videos-section">
  <div class="videos-left">
    <button class="boton-flecha"><span><</span></button>
    <div class="videos-div">
      <iframe class="video active" width="560" height="315" src="https://www.youtube.com/embed/WEnWhf3ZMd8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      <iframe class="video inactive" width="560" height="315" src="https://www.youtube.com/embed/X6NH9KuiuVA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      <iframe class="video inactive" width="560" height="315" src="https://www.youtube.com/embed/9ZEeXLqmUXQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
    <button class="boton-flecha"><span>></span></button>
  </div>
  <div>
  </div>
</section> --}}

<div class="banner-videos-container">
  <div class="texto-videos-div">
    <h3>¿QUIERES CONOCERNOS UN POCO MÁS?</h3>
    <h5>¡CHEQUEA NUESTROS VIDEOS!</h5>
  </div>
  <div class="videos">
  <iframe width="355" height="200" 
        src="https://www.youtube.com/embed/k8Jf13xNo7M"
        srcdoc="<style>*{padding:0;margin:0;overflow:hidden}html,body{height:100%}img,span{position:absolute;width:100%;top:0;bottom:0;margin:auto}span{height:1.5em;text-align:center;font:48px/1.5 sans-serif;color:white;text-shadow:0 0 0.5em black}</style><a href=https://www.youtube.com/embed/k8Jf13xNo7M?autoplay=1><img src=https://img.youtube.com/vi/k8Jf13xNo7M/hqdefault.jpg alt='Video Partidor Astillas JONSON 34 TONELADAS DE FUERZA'><span>▶</span></a>"
        frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
        title="Partidor Astillas JONSON 34 TONELADAS DE FUERZA"></iframe>
  <iframe width="355" height="200"src="https://www.youtube.com/embed/WEnWhf3ZMd8"
        srcdoc="<style>*{padding:0;margin:0;overflow:hidden}html,body{height:100%}img,span{position:absolute;width:100%;top:0;bottom:0;margin:auto}span{height:1.5em;text-align:center;font:48px/1.5 sans-serif;color:white;text-shadow:0 0 0.5em black}</style><a href=https://www.youtube.com/embed/WEnWhf3ZMd8?autoplay=1><img src=https://img.youtube.com/vi/WEnWhf3ZMd8/hqdefault.jpg alt='Video COMO HACER LA MEZCLA BENCINA Y ACEITE RAISMAN'><span>▶</span></a>"
        frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
        title="COMO HACER LA MEZCLA BENCINA Y ACEITE RAISMAN"></iframe>
  </div>
</div>






{{#if subscriptionFooter.active}}
  {{> tools/views/partials/suscription}}
{{/if}}
<footer class="nav-tools-footer blue">
  <section class="nav-tools-footer__bound">
    <section class="nav-tools-footer__top">
      <div class="nav-tools-footer__info header--custom-text">
        <div class="nav-tools-footer__logo">
            <img class="logo-footer" src="https://iili.io/Hvkm6zb.png" alt="{{name}}">
        </div>
        <img class="metodos-img" src="https://iili.io/HwCmCRp.png" alt="">
        {{!-- <div class="nav-tools-footer__contact">
          <div data-editable="contact">
            {{#if showContact}}
              {{#if showPhone}}
                <a class="header--custom-text">{{phone.formatted}}</a>
              {{/if}}

              {{#if showEmail}}
                <a class="header--custom-text" href="mailto:{{email}}">{{email}}</a>
              {{/if}}

              {{#if address}}
                {{#with address}}
                  <p>
                    <span itemprop="streetAddress" class="header--custom-text">{{address}}</span>
                    <span itemprop="addressLocality" class="header--custom-text">{{city}}</span>
                    <span itemprop="addressRegion" class="header--custom-text">{{state}}</span>
                  </p>
                {{/with}}
              {{/if}}
            {{/if}}
          </div>
          <div class="nav-tools-footer__social-media" data-editable="socialNetworks">
              {{#if showSocialNetworks}}
              {{#each socialNetworks}}
                <a href="{{url}}" target="_blank" class="header--custom-svg" rel="noopener noreferrer nofollow">
                  {{> (concat 'icons/social_networks/' (lookup . 'name'))}}
                </a>
              {{/each}}
            {{/if}}
          </div>
        </div> --}}
      </div>
      <div class="div-hr">
        <hr class="hr invisible">
      </div>
      <div class="footer-categorias-div">
        <a class="footer-categoria" href="/listado/herramientas/herramientas-electricas/">Máquinas</a>
        <a class="footer-categoria" href="/listado/herramientas/herramientas-jardin/repuestos/#applied_filter_id%3Dcategory%26applied_filter_name%3DCategorías%26applied_filter_order%3D2%26applied_value_id%3DMLC180970%26applied_value_name%3DRepuestos%26applied_value_order%3D7%26applied_value_results%3D80%26is_custom%3Dfalse">Repuestos</a>
      </div>
      <div class="footer-categorias-div">
        <a class="footer-categoria" href="/_Discount_5-100">Ofertas</a>
        <a class="footer-categoria" href="/p/como-comprar">¿Cómo Comprar?</a>
      </div>
      <div class="div-hr">
        <hr class="hr invisible">
      </div>
      <div class="footer-contacto-div">
        <div class="icon-div">
          <a target="_blank" href="https://www.facebook.com/RAISMANSPA"><img class="icon-yt" src="https://iili.io/HwCk1oP.png" alt=""></a>
          <a target="_blank" href="https://www.instagram.com/raismanspa/"><img class="icon-yt" src="https://iili.io/HwCkEV1.png " alt=""></a>
          <a target="_blank" href="https://www.youtube.com/@raismanchile5952"><img class="icon-yt" src="https://iili.io/HwCVPR9.png" alt=""></a>          
        </div>
        <a href="tel:(2)29185781" class="footer-categoria">+56 9 7849 1935<img class="footer-icon" src="https://iili.io/HwCV6H7.png" alt=""></a>
        <a href="mailto:raismanchile@gmail.com" class="footer-categoria">raismanchile@gmail.com<img class="footer-icon" src="https://iili.io/HwCVUKl.png" alt=""></a>
        <p class="footer-categoria"> General Cruz # 667  Concepción<img class="footer-icon" src="https://iili.io/HwCVrSS.png" alt=""></p>
        {{!-- <p class="footer-categoria">10:30 a 17:00hs lun a vie y 11:00 a 14:00 sab<img class="footer-icon" src="https://iili.io/HwCVgl2.png" alt=""></p> --}}
      </div>
      {{!-- <div class="nav-tools-footer__categories header--custom-border">
        {{#each menu}}
          <span class="nav-tools-footer__category">
            <a class="header--custom-text" href="{{url}}" data-id="{{id}}">
              {{name}}
            </a>
          </span>
        {{/each}}
      </div>
      <div class="nav-tools-footer__pages header--custom-text header--custom-border">
        <span class="nav-tools-footer__page">
          <a href="{{linkToHowBuy.href}}" class="header--custom-text">{{linkToHowBuy.label}}</a>
        </span>
      </div>
      <div class="nav-tools-footer__social-media" data-editable="socialNetworks">
        {{#if showSocialNetworks}}
          {{#each socialNetworks}}
            <a href="{{url}}" target="_blank" class="header--custom-svg" rel="noopener noreferrer nofollow">
              {{> (concat 'icons/social_networks/' (lookup . 'name'))}}
            </a>
          {{/each}}
        {{/if}}
      </div> --}}
    </section>
    <section class="nav-tools-footer__bottom header--custom-border header--custom-text">
      <div>
        <div class="nav-footer-about">
          <a href="{{{linkToMShopsLandingPage}}}" target="_blank" class="orange">{{i18n.powered_by}}</a>
          <a href="https://galarreta.co/"><p class="orange">Developed by GALARRETA®</p></a>
          {{#if linkToLegalNotices}}
            <a href="{{linkToLegalNotices.href}}" class="orange">{{linkToLegalNotices.label}}</a>
          {{/if}}
          {{#if linkToLGPD}}
            <a href="{{linkToLGPD.href}}" class="orange">{{linkToLGPD.label}}</a>
          {{/if}}
        </div>

        {{#if showBusinessData}}
          {{#with fiscalData}}
            <div class="nav-footer-fiscal-data">
              <p class="nav-footer-fiscal-data__name">{{legal_name}}</p>
              <p class="nav-footer-fiscal-data__id">{{legal_doc}}</p>
            </div>
          {{/with}}
        {{/if}}
      </div>
      {{#if showQrData}}
        {{#with fiscalData}}
          <a href={{qr_link}} target="_F960AFIPInfo">
            <img class="nav-footer-afip-img" src={{qr_img}} alt="Data fiscal" />
          </a>
        {{/with}}
      {{/if}}
    </section>
  </section>
</footer>
